.followHeader {
  position: fixed;
  top: 10px;
  /* Adjust this value as needed */
  z-index: 1000;
  /* Ensure it stays above other content */
  background-color: white;
  /* Add a background if needed */
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  /* Optional: adds a shadow */
}

@supports (position: sticky) {
  .followHeader {
    position: sticky;
    top: 10px;
    /* Adjust this value as needed */
  }
}


th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
}

table{
  width: 75%;
  max-width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
}
.joinedRows {
  background-color: aquamarine;
}

.adjustable {
  resize: horizontal;
  overflow: auto;
  display: block;
}
td .adjustable{
  border: 0;
  width: auto;
  height: auto;
}