table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    position: relative;
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides any overflow content */
    text-overflow: ellipsis;   /* Adds an ellipsis (...) to indicate text overflow */
  }
    
  th {
    background-color: #f4f4f4;
    position: relative;
  }
  
  .resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    /* user-select: none; */
  }
  th .resizer {
    height: 100%;
  }
  
.overflow {
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides any overflow content */
    text-overflow: ellipsis;   /* Adds an ellipsis (...) to indicate text overflow */
    word-break: break-word;

}